body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color:#ffffff;


}


/* .body-index{
  background-color: #849d8f;
  margin:0;
  padding:0;
} */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*обертка всего в body*/
.site-wrapper{
  /* min-width: 900px;
  max-width: 1200px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #849d8f;
  align-items: center;

  background-image: url("../img/action-content-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper {
  /* min-width: 940px; */
  background-color: #849d8f;
  background-image: url("../img/action-content-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;

}

.container-main{
  min-width: 900px;
  max-width: 1200px;
}

.container{
  padding: 0 20px 0 27px;

}


/*хедер*/
/*это обертка и хедера и футера(у футера в стилях ее нет*/


.main-header{
  min-width: 900px;
  max-width: 1200px;
  margin:0;
  padding: 0 20px 0 27px;

  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.left-wrapper{
  display:flex;
  flex-wrap:nowrap;
}
.right-wrapper{
  display:flex;
  flex-wrap:nowrap;
}

.right-wrapper{
  display:flex;
  flex-direction:column;
  align-items:flex-end;

}

.main-header-logo {
  max-width:100%;
  height:auto;

  margin-top:8px;
  margin-right:10px;
}

/*катлог, доставка, оплата*/
.site-navigation {
  font-size: 16px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;

  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
  list-style: none;
  padding:0;
  margin: 0;
  margin-top: 22px;

  position: relative;
  /* background-color: #8c0920; */
}



.site-navigation > li{
  display: inline-block;
  margin-right: -5px;/*двигает пукты меню внутри меню вправо ПОПОРОБОВАТЬ МИНУСОВАТЬ */
  position:relative;
  margin: 0;
  padding: 0;
}

.site-navigation a{
  display:block;
  color:#ffffff;
  padding: 7px 14px;

  vertical-align: middle;

  text-decoration: none;
  border-radius: 15px;
}

.underline{
  border-bottom:1px solid rgba(255,255,255, 0.2);
}

.underline:hover,
.underline:active  {
  color: rgb(51, 51, 51);
  /* color: rgb(255, 188, 158); */
  border-bottom:1px solid rgba(255, 188, 158, 0.302);
}


.site-navigation,
.user-navigation,
.site-navigation .sub-menu {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
}
/* это же меню в интерактиве*/
.site-navigation a:hover,
.site-navigation a:focus{
  color: #000000;
  background-color: rgb(248, 247, 244);
}
/*меню-выпадашка*/
.site-navigation .sub-menu {
  position:absolute;
  color: rgb(50, 50, 50);
  display:none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 143px;
  left:1px;
  top: 37px;
  box-sizing: border-box;

  font-size: 14px;
  border-radius: 5px;
  white-space:nowrap;

  overflow: hidden;
  z-index:1;
}

.sub-menu a {
  color: rgb(50, 50, 50);
  text-decoration: none;
  font-weight: 400;
  display: block;
  border-radius: 0;
}

.sub-menu li:nth-child(1) > a {
  font-weight: bold;
  border-bottom:1px solid rgba(255,255,255, 0.2);
}

.sub-menu li:nth-child(1){

  border-bottom:1px solid #d1d0ce;
}

.site-navigation > li:hover .sub-menu,
.site-navigation > li:focus .sub-menu  {
  display: block;
  color: #000000;
  background-color:  rgb(248, 247, 244);
}

.site-navigation li li a:hover {
  display: block;
  color: #000000;
  background-color: rgb(251, 222, 215);
}

.site-navigation li li a:active {
  display: block;
  color: #000000;
  background-color: rgb(246, 181, 165);
}

 /*пукты поиск, вход, корзина*/
 .user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  align-self:flex-end;

  display:flex;
  justify-content: space-around;
}
.user-navigation li {
  margin: 0;
  padding: 0;
}

.user-navigation li  {
  margin: 0px;
  padding: 0;
}
.tooltip-search-button:hover,
.tooltip-search-button:focus{
  color: #000000;
  background-color: rgb(248, 247, 244);

}

/*поиск  */
.tooltip-search-button {
  background-image: url("../img/magnifier.svg");

  background-repeat: no-repeat;
  background-position: 50% 50% ;
  /* background-size: contain; */
  position: relative;
  background-origin: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  padding:0;
  width: 33px;
  height: 33px;
  border-radius: 30px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-top: 20px;
}
/* .tooltip-search-button::before{
  content: "";

  position: absolute;
  background-image: url("../img/magnifier.svg");

  background-repeat: no-repeat;
  background-position: 50% 50% ;
  display: none;
  background-color:  rgb(248, 247, 244);
} */

.tooltip-search-button:hover .tooltip-search-field,
.tooltip-search-button:focus .tooltip-search-field  {
  display: block;

  background-color:  rgb(248, 247, 244);

}
.tooltip-search-button:hover,
.tooltip-search-button:focus  {
background-image: url("../img/magnifier-hover.svg");
}

.tooltip-search-field {
  position:absolute;
  color: rgb(50, 50, 50);
  display:none;
  text-decoration: none;
  margin: 0;
  padding: 20px 15px;
  width: 340px;
  box-sizing: border-box;
  right:1px;
  bottom: -70px;

  border-radius: 5px;
  background-color: rgb(248, 247, 244);
}

.tooltip-search-field input {

  font-size: 14px;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 24px;

  box-sizing: border-box;
  width:310px;
  padding-left:14px;
  background-color: rgb(255, 255, 255);

  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}


/*вход*/
.tooltip-login-button{
  font-size: 14px;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 16px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 16px;
  position: relative;

  /* display: block; */
   padding: 8px 15px 8px 44px;
  margin-right: 10px;
  margin-top: 20px;
  border-radius:30px;
  background-color: rgba(255, 255, 255, 0.2);
}


.tooltip-login-button::before {
  content: "";

  position: absolute;
  right:54px;
  bottom:6px;
  width: 21px;
  height: 19px;


  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color:  rgba(255, 255, 255, 0.2);
  opacity: 0.3;
}



 .tooltip-login-field {
  display: none;

  position: absolute;
 /* min-width: 277px;*/
  /*min-height: 214px;*/
  background-color: rgb(248, 247, 244);
  top: 125%;
  right: 100%;
  padding:20px;
  width:277px;
  border-radius:5px;
  /* background-color: palevioletred; */
}


.tooltip-login-button:hover .tooltip-login-field,
.tooltip-login-button:active .tooltip-login-field {
  display: block;
}

.tooltip-login-button:hover{
  color: rgb(50, 50, 50);
  background-color:  rgb(248, 247, 244);
}

.tooltip-login-button:hover::before,
.tooltip-login-button:focus::before{
  content: "";

  position: absolute;
  right:54px;
  bottom:6px;
  width: 21px;
  height: 19px;
  background-image: url("../img/login-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

fieldset .login-form{

  display: flex;
  flex-direction: row;
  border:none;
}

.login-form input{
  box-sizing: border-box;
  width: 240px;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: rgb(153, 153, 153);
  font-weight: 400;
}


/* .login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: rgb(153, 153, 153);

  background-color: ffffff;
  border: 1px solid rgb(211, 211, 210);
} */

.wrapper-link a{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: rgb(50, 50, 50);
  font-weight: 400;
  text-decoration: none;
  border-bottom:1px solid rgba(50, 50, 50, 0.302);
}

/* .wrapper-link a:hover,
.wrapper-link a:active{
  color: rgb(232, 77, 55);
  border-bottom:1px solid rgba(232, 77, 55, 0.302);
} */
/* .wrapper-link{
  margin:0;
  padding: 10px;
} */

/* .tooltip-login-button:hover,
.tooltip-login-button:focus{
  color: #000000;
  background-color: rgb(248, 247, 244);
} */
/* корзина*/
.cart a {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 17px 8px 47px;
  border-radius: 30px;
  display: block;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 20px;
}
li.cart a:hover{
  background-color: rgb(248, 247, 244);
  color: rgb(50, 50, 50);
}


.cart a::before{
  content: "";

  position: absolute;

  right:61px;

  width: 21px;
  height: 19px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color:  rgba(255, 255, 255, 0.2);

  opacity: 0.3;
}

 .cart p.full-cart::before{
  content: "";

  position: absolute;

  width: 21px;
  height: 19px;

  right:5px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #e84d37;

}

/*часы работы магазина и телефон*/
.store-info{
  flex-grow: 1;
  align-self: flex-end;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* background-color: #d84732; */
  padding:0;
  margin:0;
  margin-top:20px;
}

.store-info p{
  padding: 0px;
  /* background-color: #000000; */
  margin:0px;
  text-align: end;
}

.telefon {
  font-size: 22px;
  line-height: 24px;
  margin-bottom:5px;
}

/*main часть*/
h1.visually-hidden,
h2.visually-hidden-slider{
  font-size: 0;
}

/*index рожки*/
.visually-hidden-button {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}



.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/action-content-2.png");
}

.site-wrapper::after {
  background-image: url("../img/action-content-3.png");
}


.slider {
position: relative;

padding-top: 115px;

text-align: center;
color: #ffffff;

/* background-color:rgb(0,0,255)	; */

}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
  /* background-color: rgb(0,255,0); */

}

.slide {
  display: none;
  /* background-color:rgb(255,0,255); */

}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
.slide-button{
  margin-bottom:40px;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
  /* background-color: royalblue; */
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/action-content-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/action-content-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/action-content-3.png");
}

#product-1:checked ~ .body-index {
  background-color: #849d8f;

}

#product-2:checked ~ .body-index {
  background-color: #8996a6;

}

#product-3:checked ~ .body-index {
  background-color: #9d8b84;

}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*малинка даром/ шоколадки даром*/


.banner{
  margin:0;
  margin-bottom:30px;
  padding:0;
  display: flex;
  width:100%;
  justify-content: space-between;
  /* background-color: royalblue; */

}

.banner-item{
  width: 48.8%;
  min-height: 229px;
  border-radius: 15px;
  padding: 20px;
  position:relative;
  margin:0;
  box-sizing: border-box;

}

.banner-item-header {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin:0;
  margin-bottom:20px;
  /* padding:5px; */
  /* background-color: palevioletred; */
}

.banner-item p {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin:0;
  /* padding:5px; */
  /* background-color: greenyellow; */
}

.banner-item a {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  position:absolute;
  right:23px;
  bottom:23px;

}

.banner-button{
  display:block;

}

.offer-item-1 {
  background-color: #8c0920;
  background-image: url("../img/raspberries-background.jpg");
  background-position: top left;
  background-repeat: no-repeat;


}

.offer-item-2 {
  background-color: #452819;
  background-image: url("../img/chocolate-background.jpg");
  background-position: top left;
  background-repeat: no-repeat;

}

/*   Каталог мороженого//Сначала блок из Индекса, потом сама страница каталог  */

/* каталог в индексе */
.catalog-list-hit {
  list-style: none;
  margin-left:-60px;
  margin-right:-27px;

  display: flex;

  justify-content: space-between;

  /* background-color: #8c0920; */
}

li.hit{
  position: relative;
 }

 li.hit:before{
 content: url("../img/hit.svg");
  float: left;
  position: absolute;
  left:16px;
  background-color: #ffffff;
 }

/* каталог в каталоге */
.catalog-list {
  list-style: none;

  padding:0 0;

  margin: 0;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
 /* универсальные правила для обеих страниц */
 .catalog-item{
  width: 25%;
  padding-left:1.16%;
  padding-right:1.16%;
  /* background-color: transparent; */

  /* width: 290px;
  height: 350px; */
  position: relative;
  margin-bottom: 20px;

}

.catalog-item img{
  width: 100%;
  height:auto;
  padding-left:1.16%;
  padding-right:1.16%;
}

.catalog-item-title{
  font-weight: 500;
}

.catalog-item-price {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 39px;
  line-height: 45px;
  position: absolute;
  left:20%;
  bottom:135px;
  color: rgb(254, 254, 254);
}

.catalog-item-price{
  position: absolute;
  left:16px;
  bottom:135px;
}



/*.catalog-item:nth-child(4n) {
  margin-right: 0;
}*/

.catalog-item:hover{
  background-color: rgba(248, 247, 244, 0.2);
  /* box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); */
}
/*кнопка быстрый простмотр*/
.catalog-button{
  display:none;
  margin-bottom:20px;
}
.catalog-item:hover .catalog-button {
  display: block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgb(254, 254, 254);

  text-align: center;
  /* vertical-align: middle; */
  border: none;
  background: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
}

/*вафля блок */
.about-us {
  list-style: none;
}

.about-us-container{
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-color: #eddfc2;
  background-image: url("../img/layer-waffle.jpg");
  background-position: top left;
  background-repeat: repeat;

  /* width: 1150px;
  height: 306px; */
  width:100%;
  margin-bottom:40px;
  padding: 20px 20px;
  border-radius: 15px;
  box-sizing: border-box;
}

.about-us-container h2  {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin:0;
  margin-bottom: 20px;
}
.about-us{
  list-style: none;
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.about-us li {
  margin:5px;

  padding: 0px;

  /* width:520px; */
  width:45%;
  padding-left:39px;
  margin-left:15px;
  box-sizing:border-box;
  position:relative
}

.about-us li:nth-child(1)::before{
  content: url("../img/ceo-icecream.svg");
  float: left;
  position: absolute;
  left:-17px;
  /* top: 15px; */
}

.about-us li:nth-child(2)::before{
  content: url("../img/ceo-cow.svg");
  float: left;
  position: absolute;
  left:-17px;
  /* top: 15px; */
}

.about-us li:nth-child(3)::before{
  content: url("../img/ceo-leaf.svg");
  float: left;
  position: absolute;
  left:-17px;
  /* top: 15px; */
}

.about-us li:nth-child(4)::before{
  content: url("../img/ceo-thermometer.svg");
  float: left;
  position: absolute;
  left:-17px;
  /* top: 15px; */
}

/*обертка новости и новостная рассылка */
.wrapper-news{
  margin:0;
  display: flex;
  justify-content: space-around;

}
/* Новое в нашем блоге */

.news {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/news-strawberries.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size:cover;

  width: 560px;
  height: 220px;
  padding:0px;
  margin-right: 25px;
  border-radius: 15px;
}

.news h2{
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
  font-size: 0%;
}
.news p:nth-child(2) {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #323232;
  padding: 15px 10px 0px 20px;

}
a.news-link {
  display:block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;

  width: 320px;
  padding: 5px 5px 10px 20px;
  margin:0;
  text-decoration:none;
  border-bottom:1px solid rgba(255,255,255, 0.2); /*не включается плдчеркивание. Не знаю почему*/
}

/*новостная рассылка*/

.newsletter {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;


  border: 5px solid rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-image-source: url("../img/newsletter-stripped-background.svg");
  background-clip:border-box;
  background-size: cover;
  border-image-slice:5;
  /* border-image-repeat: repeat repeat; */
  border-radius: 30px;

  width: 560px;
  height: 220px;
  padding:20px;
  box-sizing: border-box;
}


/*адрес магазина*/

.adress{
  width: 100%;
  height: 430px;
  position: relative;
}

.adress-part {
  font-family: 'Roboto', Arial, sans-serif;
  color: #323232;
  background-color: #fdfefe;
  width: 302px;
  height: 305px;
  padding:20px;
  position: absolute;
  top: 64px;
  right:27px;
  border-radius: 15px;

}


.small-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.bold-text{
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.feedback-link a{
  text-decoration: none;

}

/*футер*/

 .main-footer{
  min-width: 900px;
  max-width: 1200px;
  background-color: royalblue;
}

.container-footer{

  display: flex;
  justify-content: space-between;
  background-color: palevioletred;
}
/*соц сети*/
.footer-social ul{
 list-style:none;
 display: flex;
}

.social-button{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 3px solid rgba(255, 255, 255, 0.502);/*эта обводка не полупрозрачная, как сделать прозрачность как в макете*/

  border-radius: 22px;
  vertical-align: middle;
  margin-right:10px;
  text-indent: -1000px;
  /*background-color:#e6ebe9;*/
}

.Twitter{
  background-image: url("../img/twitter.svg");
  background-size:cover;
  background-origin: border-box;

}

.Instagram{
  background-image: url("../img/instagram.svg");
  background-size:cover;
  background-origin: border-box;
}

.Facebook{
  background-image: url("../img/fb.svg");
  background-size:cover;
  background-origin: border-box;
}

.Vkontakte{
  background-image: url("../img/vk.svg");
  background-size:cover;
  background-origin: border-box;
}

/*блок в футере посередине*/

.navigation-to-custumers ul{
  list-style: none;

  width: 340px;
  height:50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;


}

.info-to-custumers-item{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(254, 254, 254);
  display: block;
 text-decoration: none;
  padding-right: 20px;
}

.navigation-to-custumers ul li:first-child a {
  font-weight: bold;
}

.navigation-to-custumers::before {
  content: url("../img/heart-symbolle.svg");
  float: left;
  position: relative;
  right:-30px;
  top: 15px;
}

/*Сделано в HTML Academy © 2017*/

.footer-copyright {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(254, 254, 254);
  display: flex;
  flex-direction: column;

}
.footer-copyright span a{
  color: rgb(254, 254, 254);
  padding-right: 5px;
  text-decoration: none;
}

.footer-copyright img{
  margin-bottom: 5px;

}

/*оформление кнопок*/
.small-button {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 10px 20px;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.small-button:hover,
.small-button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.small-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.modal-feedback input,
.newsletter input,
.tooltip-login input {
  font: inherit;

  background-color: transparent;
  border: 1px solid rgb(211, 211, 210);
}
/* оформление обратная связь и форм*/
.modal {
  background-color: rgb(248, 247, 244);
  font-family: 'Roboto', Arial, sans-serif;
  border: none;
}

.modal p {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: rgb(50, 50, 50);
}


.modal-feedback input:focus {
  border-color: rgb(46, 136, 228);
}

/*подписка на новостную рассылку*/
.newsletter input:focus,
.tooltip-login input:focus {
  border-color: rgb(46, 136, 228);
}


.site-navigation-current {
  background-color: rgb(248, 247, 244);
  border: none;
}


/*каталог */
.wrapper{
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #849d8f;
}
.site-navigation-current,
.current {
  background-color: rgb(208, 112, 88);
}

/* корзина в каталоге*/
.tooltip-cart-field{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: rgb(50, 50, 50);
}

.tooltip-cart-field ul{
  list-style: none;
}
.tooltip-cart-field p{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 800;
  color: rgb(50, 50, 50);
}
.tooltip-cart-button {
  display: inline-block;
  position: relative;
}

.tooltip-cart-button .tooltip-cart-field {
  visibility: hidden;
  position: absolute;
  width: 540px;
  height: 242px;
  background-color: rgb(248, 247, 244);
  top: 125%;
  right: 30px;
}

/* .tooltip-cart-button:hover .tooltip-cart-field {
  visibility: visible;
  opacity: 1;
} */
/*основной контент каталога*/
.body-catalog{
  background-color: #849d8f;
}
.site-wrapper-catalog{
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #849d8f;


}
.container-catalog{
 padding: 0 0;

}
/*хлебные крошки*/

.breadcrumbs {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(254, 254, 254);
  margin:0;
  padding:0;
  list-style: none;
}
.breadcrumbs li{
  margin:0;
  padding:0;
}
.breadcrumbs a{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(254, 254, 254);
  text-decoration: none;
  display: inline-block;
  padding: 6px 4px 6px 4px;
  /*margin-right:5px;*/
  /*background-color:red;*/
}

.breadcrumbs li:nth-child(2) a:before,
.breadcrumbs li:nth-child(3) a:before{
  content: ">>";
}
.page-title{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: rgb(255, 255, 255);

}
/*фильтры Сортировка*/
.filters,
.price-sort,
.sorting{
  border: none;
}

.filters legend {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.wrapper-sorting{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 15px;
  border-radius: 20px;
}

.button-sort{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-align: center;
  vertical-align: middle;

  border: 2px solid  rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.188);
  border-radius: 20px;
  padding: 5px 30px;
}

.button-sort:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
}

.button-sort:active {
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

/*каталог с товарами*/

/*пагинатор*/

.pagination-list {
  list-style: none;
  width:220px;
  padding: 0px 10px;
}

.pagination-item a {
  display: inline-block;
  width: 10px;
  height: 20px;
  background-color:red;
  margin-right:5px;
  padding: 5px 10px;
  border-radius:23px;
}

.pagination-item-back a,
.pagination-item-next a {
  text-indent: -1000px;
}

.pagination-item-back a {

 background-position: 6px 3px;
  background-repeat:no-repeat;
}
.pagination-item-next a {
  background-image: url("../img/icon-right-small.svg");
  background-position: 6px 8px;
  background-repeat:no-repeat;
}

.pagination-list a {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.pagination-item a:hover,
.pagination-item-current a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active,
.pagination-item-current a:active {
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
}

.pagination-item-current a{
  color: rgb(50, 50, 50);
  background-color: rgb(255, 255, 255);
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}
/*каталог основная страница*/
.main-content{
  display: flex;
  flex-direction: column;


}

.breadcrumbs{
display: flex;
margin-left: 5px ; /*почему-то маргин по факту 50пкс. Не знаю почему*/
margin-bottom: 15px;
}


.wrap-filters{
  display: flex;
  width:905px;
  flex-wrap: wrap;

}


.pagination-list{
  width: 220px;
  height: 50px;
  display:flex;
}


.wrapper-pagination{
  width: 100%;
  display:flex;
  justify-content:flex-end;
}

/* .pagination-list{
  width: 220px;
  height: 50px;
  display:flex;
} */
