html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color:#ffffff;


}


/* .body-index{
  background-color: #849d8f;
  margin:0;
  padding:0;
} */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*обертка всего в body*/
.site-wrapper{
  min-width: 900px;
  /* max-width: 1200px; */
  margin: 0 auto;
  /* display: flex;
  flex-direction: column; */
  background-color: #849d8f;
  /* align-items: stretch; */

  background-image: url("../img/action-content-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.container-main{
  min-width: 900px;
  max-width: 1200px;
}

.container{
  padding: 0 27px 0 27px;
  margin:0 auto;
  min-width: 900px;
  max-width: 1200px;
}

/*хедер*/
/*это обертка и хедера и футера(у футера в стилях ее нет*/


.main-header{
  min-width: 900px;
  max-width: 1200px;

  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  /* background-color: #d84732; */
}


.left-wrapper{
  display:flex;
  flex-wrap:nowrap;
}


.right-wrapper{
  display:flex;
  /* flex-wrap:nowrap; */

  flex-direction:column;
  align-items:flex-end;

  /* background-color: aqua; */
}

.main-header-logo {
  max-width:100%;
  height:auto;

  margin-top:9px;
  margin-right:10px;
}



/*катлог, доставка, оплата*/
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  max-width: 380px;
  margin: 0;
  margin-top: 23px;
  margin-left:-1px;
  padding:0;

  list-style: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.underline{
  text-decoration: none;
}

.site-navigation > li{
  display: inline-block;
  margin-right: -5px;
  position:relative;
  margin: 0;
  padding: 0;
}

.site-navigation a{
  display:block;
  color:#ffffff;
  padding: 7px 14px;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 15px;
}
.underline-white{
  border-bottom:1px solid rgba(255,255,255, 0.2);
}

.underline-peach{
  border-bottom:1px solid rgba(255,255,255, 0.2);
}

.underline-peach:hover{
  border-bottom:1px solid rgb(230,182,155);
  color:rgb(230,182,155);

}

.underline-orange{
  border-bottom:1px solid rgba(53,53,53);
}

.underline-orange:hover{
  border-bottom:1px solid rgb(232,77,55);
  color: rgb(232,77,55);
}


/* это же меню в интерактиве*/
a.site-item:hover{
  color: rgb(51, 51, 51);
  background-color: rgb(248, 247, 244);
}


a.site-item:active{
  color: rgb(51, 51, 51);
  background-color: rgb(248, 247, 244);
  box-shadow: inset 0 2px 2px rgba(105, 105, 105, 1);
}
.sub-container{
  position:absolute;
  padding-top: 3px;
  left:-6px;
  top: 100%;
  z-index:1;
}

/*меню-выпадашка*/
.site-navigation .sub-menu {

  display:none;
  width: 143px;

  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
  white-space:nowrap;
  overflow: hidden;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.15s ease-in-out;
  background-color: rgb(248, 247, 244);
  padding: 4px 0;
  transition: all 0.15s ease-in-out;
  color: rgb(50, 50, 50);
  text-decoration: none;
  list-style: none;
}

.sub-menu a {
  color: rgb(50, 50, 50);
  text-decoration: none;
  display: block;
  border-radius: 0;
  margin-bottom: 3px;
  padding: 5px 15px 7px 20px;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
}


a.new-in-catalog {
  /* padding-top:10px;
  padding-bottom:6px; */
  margin-bottom: 11px;
  font-weight: bold;
}

a.new-in-catalog::after {
 position: absolute;
 content: "";
 display:block;
 width:127px;
 height:1px;
 border-bottom:1px solid rgb(209,208,206);
 left:8px;
 top:38px;
}
/* .sub-menu li:last-child a{
  padding-bottom: 10px;
} */

.site-navigation > li:hover .sub-menu,
.site-navigation > li:focus .sub-menu  {
  display: block;
  color: #000000;
  background-color:  rgb(248, 247, 244);
}


.site-navigation > li:hover a {
  color: rgb(51, 51, 51);
  background-color: rgb(248, 247, 244);
}

.site-navigation li li a:not(.current-page):hover {
  display: block;
  color: #000000;
  background-color: rgb(251, 222, 215);
}

.site-navigation li li a:not(.current-page):active {
  display: block;
  color: #000000;
  background-color: rgb(246, 181, 165);
}



 /*пукты поиск, вход, корзина*/
 .user-navigation {
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 310px;
  margin: 0;
  margin-top: 23px;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;

}

.user-navigation li {
  margin: 0;
  padding: 0;
}

.tooltip-container{
  display:none;
  position:absolute;
  right:0;
  top:100% ;
  z-index: 1;
  padding-top: 3px;
}


.tooltip-button:hover .tooltip-container {
  display: block;
}

.tooltip-inner{
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius:5px;
}

/*поиск  */
.tooltip-search-button {
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 10px;

  padding:0;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);

}

/* .login-link .tooltip-button.tooltip-login-button .tooltip-container{
  display: block;
} */
.tooltip-search-button::before{
  position: absolute;
  content: "";
  background-image: url("../img/magnifier.svg");
  background-repeat: no-repeat;
  background-position: 50% 50% ;
  right:0px;
  bottom:1px;
  width: 32px;
  height: 32px;
}

.tooltip-search-button:hover::before,
.tooltip-search-button:focus::before  {
background-image: url("../img/magnifier-hover.svg");
}

.tooltip-search-button:hover,
.tooltip-search-button:focus{
  color: #000000;
  background-color: rgb(248, 247, 244);

}
.tooltip-search-field {

  color: rgb(50, 50, 50);

  text-decoration: none;
  margin: 0;
  padding: 20px 15px;
  width: 341px;

  background-color: rgb(248, 247, 244);

}

.tooltip-search-field input {
  width:310px;
  box-sizing: border-box;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 9px 14px;
  outline: none;
  font-size: 14px;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 24px;
  font-weight: 400;
}

.tooltip-search-field input:hover{
  border: 3px solid rgb(199, 198, 197);
  padding: 7px 12px;
  border-radius: 5px;
  color: rgb(50, 50, 50);
}
.tooltip-search-field input:focus{
  border: 3px solid rgb(143, 189, 236);
  padding: 7px 12px;

  border-radius: 5px;
  color: rgb(50, 50, 50);
  font-weight: bold;
}

.tooltip-search-field input::-webkit-input-placeholder {
  font-weight: 400;
}
.tooltip-search-field input::-moz-placeholder {
  font-weight: 400;
}
.tooltip-search-field input:-ms-input-placeholder {
  font-weight: 400;
}
.tooltip-search-field input:-moz-placeholder {
  font-weight: 400;
}
.tooltip-search-field input::placeholder {
  font-weight: 400;
}

/*вход*/
.tooltip-login-button{
  position: relative;
  padding: 7px 17px 9px 44px;
  margin-right: 10px;
  border-radius:30px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}


.tooltip-login-button::before {
  position: absolute;
  content: "";
  right:55px;
  bottom:7px;
  width: 21px;
  height: 19px;

  color: rgb(255, 255, 255);
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tooltip-login-field {

  background-color: rgb(248, 247, 244);
  padding:0;
  margin:0;
}

fieldset.tooltip-login{
  border: none;
  margin:0;
  padding:21px 21px 20px 20px;
  width:277px;
  box-sizing: border-box;
}

.tooltip-login-button:hover{
  color: rgb(50, 50, 50);
  background-color:  rgb(248, 247, 244);
}

.tooltip-login-button:hover::before,
.tooltip-login-button:focus::before{
  content: "";

  position: absolute;
  right:54px;
  bottom:6px;
  width: 21px;
  height: 19px;
  background-image: url("../img/login-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

fieldset .login-form{
  display: flex;
  flex-direction: row;
  border:none;
}

.login-form input{
  box-sizing: border-box;
  width: 240px;
  margin-bottom: 20px;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  padding: 9px 14px 9px 14px;
  outline: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.login-form  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-weight: 400;
}
.login-form  input::-moz-placeholder { /* Firefox 19+ */
font-weight: 400;
}
.login-form  input:-ms-input-placeholder { /* IE 10+ */
font-weight: 400;
}
.login-form  input:-moz-placeholder { /* Firefox 18- */
font-weight: 400;
}
.login-form  input::placeholder{
font-weight: 400;
}


.login-form input:hover{
  border: 3px solid rgb(199, 198, 197);
  padding: 7px 12px;
  border-radius: 5px;
  color: rgb(50, 50, 50);


}

.login-form input:focus{
  border: 3px solid rgb(143, 189, 236);
  padding: 7px 12px;
  border-radius: 5px;
  color: rgb(50, 50, 50);
  font-weight: bold;

}


.button-links{
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 0;
}

button.small-button.enter{
  margin:0;
  margin-right: 20px;

  border-top-left-radius: 30px 40px;
  border-bottom-left-radius: 30px 40px;
  border-top-right-radius: 30px 40px;
  border-bottom-right-radius: 30px 40px;
  padding: 10px 24px;
}

.wrapper-link{
 padding: 0px 0px 0px 0px;
 margin:0 0 0 0;
 /* background-color:pink; */
}
.wrapper-link a{
  display: block;
  /* margin: 0 0 0 0; */
  text-decoration: none;
  border-bottom:1px solid rgba(50, 50, 50, 0.302);
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  line-height: 13px;
  color: rgb(50, 50, 50);
  font-weight: 400;
}

.restore{
  margin-bottom:7px;
  margin-top:4px;
}

.wrapper-link a:hover,
.wrapper-link a:active{
  color: rgb(232,77,55);
  border-bottom:1px solid rgb(232,77,55);
}



/* корзина*/

.tooltip-cart-button{
  position: relative;
  padding: 7px 17px 9px 44px;
  border-radius:30px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.tooltip-cart-button:hover{
  color: rgb(50, 50, 50);
  background-color:  rgb(248, 247, 244);
}


.tooltip-cart-button::before{
  content: "";
  position: absolute;
  right:63px;
  width: 21px;
  height: 20px;
  bottom: 6px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  /* background-color:  rgba(255, 255, 255, 0.2); */

  /* opacity: 0.3; */
}

.tooltip-cart-button:hover::before,
.tooltip-cart-button:focus::before{
  content: "";
  position: absolute;
  right:61px;
  width: 21px;
  height: 20px;
  bottom: 6px;
  background-image: url("../img/cart-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*корзина с товарами*/
.tooltip-cart-button.cart-full{
  color: rgb(50, 50, 50);
background-color:  rgb(248, 247, 244);
}

.tooltip-cart-button.cart-full::before{
  content: "";
  position: absolute;
  right:81px;
  bottom: 6px;
  width: 21px;
  height: 20px;
  background-image: url("../img/cart-full-hover.svg");

  background-repeat: no-repeat;
  background-position: 0 0;
}

/* .tooltip-cart-button.cart-full:hover::before,
.tooltip-cart-button.cart-full:focus::before{
  content: "";
  position: absolute;
  right:81px;
  width: 21px;
  height: 20px;
  bottom: 6px;
  background-image: url("../img/cart-full-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

} */

.tooltip-cart-field{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(50, 50, 50);
  background-color: rgb(248, 247, 244);
  padding: 20px 15px;
  width:540px;
}

.tooltip-cart-button:hover .tooltip-cart-field,
.tooltip-cart-button:active .tooltip-cart-field {
  display: block;
}

/* .cart .tooltip-button.tooltip-cart-button .tooltip-container{
  display: block;
} */
.table-button-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}



.table-button-wrapper table{
  /* border-bottom: 1px solid rgb(202, 202, 199); */
  border-collapse:collapse;
  align-self: flex-start;
  margin-bottom: 14px;
  position: relative;
}
td{
  padding-bottom: 15px;
}


.table-delete-1{
  vertical-align:top;
  padding-top:7px;
  padding-right:4px;
}
.table-delete-2{
  vertical-align:top;
  padding-top: 9px;
  padding-right: 8px;
}
.delete-item{
  width:11px;
  height: 11px;
  background-image: url("../img/delete.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  font-size: 0;

  display: inline-block;
  vertical-align: middle;
}

.table-image-1{
  display: inline-block;
  vertical-align: middle;
}
.table-image-2{
  display: inline-block;
  vertical-align: middle;
}
.table-title-1{
  box-sizing: border-box;
  width: 228px;
  padding: 10px 0 0 11px;
  vertical-align:top;
}
.table-title-2{
  box-sizing: border-box;
  width: 225px;
  padding: 10px 0 0 11px;
  vertical-align:top;
}
.table-weight-1{
  text-align:right;
  padding: 0 0 17px 30px;
}
.table-weight-2{
  text-align:right;
  padding: 0 0 17px 30px;
}
.table-price-1{
  padding: 0 28px 17px 3px;
  color: rgb(178, 178, 177);
}
.table-price-2{
  color: rgb(178, 178, 177);
  padding: 0 28px 17px 3px;
}
.table-cost-1{
  text-align: right;
  padding: 0px 19px 16px 0px;
  vertical-align: middle;
}
.table-cost-2{
  text-align:right;
  padding: 0px 19px 17px 0px;
vertical-align: middle;
}

.table-delete-2,
.table-image-2
.table-weight-2{
  padding-bottom: 16px;
}

.table-title-2
.table-price-2,
.table-cost-2{
  padding-bottom: 17px;
}

table::after{
  position: absolute;
  content: "";
  display:block;
  width:510px;
  height:1px;
  border-bottom:1px solid rgb(202,202,199);
  left:1px;
  bottom:-7px;
}
.final{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: rgb(50, 50, 50);
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 14px;
  margin-top: 6px;
}

.final-cost{
  margin-left: 3px;
}


.small-button.button-in-cart{
  padding: 10px 15px 10px 15px;
}

/*часы работы магазина и телефон*/
.store-info{
  flex-grow: 1;
  align-self: flex-end;
  margin:0;
  margin-top:17px;
  padding:0;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.store-info p{
  margin:0px;
  margin-bottom: 4px;
  padding: 0px;
  text-align: end;
}

.telefon {
  font-size: 22px;
  line-height: 24px;
  margin-bottom:5px;

}

/*main часть*/
h1.visually-hidden,
h2.visually-hidden-slider{
  font-size: 0;
}

/*index рожки*/
.visually-hidden-button {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}



.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/action-content-2.png");
}

.site-wrapper::after {
  background-image: url("../img/action-content-3.png");
}


.slider {
position: relative;

padding-top: 250px; /*это толкает надпись слайдера вниз(отсчет примерно от телефона*/

text-align: center;
color: #ffffff;

/* background-color:rgb(0,0,255)	; */
margin-bottom:5px;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
  /* background-color: rgb(0,255,0); */

}

.slide {
  display: none;
  /* background-color:rgb(255,0,255); */

}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;
  /* padding-left: 10px; */
  /* margin-top:10px; */
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  /* background-color:rgb(255,0,255); */
}


.button {
  display: inline-block;
  padding: 12px 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-button{
  margin-top:2px;
  margin-bottom:36px;/*двигает баннеры малина/шоколад вниз*/
  padding: 10px 44px;
  padding-left: 41px;
  padding-right:41px;
  padding-top:8px;
  padding-bottom: 11px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.slider-controls {
  position: absolute;
  bottom: 57px;
  left: 0;
  z-index: 20;

  font-size: 0;
  /* background-color: royalblue; */
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover{
  background-color:rgba(255, 255, 255, 0.502);
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/action-content-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/action-content-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/action-content-3.png");
}

#product-1:checked ~ .body-index {
  background-color: #849d8f;

}

#product-2:checked ~ .body-index {
  background-color: #8996a6;

}

#product-3:checked ~ .body-index {
  background-color: #9d8b84;

}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*малинка даром/ шоколадки даром*/


.banner{
  margin:0;
  margin-bottom:40px;
  padding:0;
  display: flex;
  width:100%;
  justify-content: space-between;
  /* background-color: royalblue; */

}

.banner-item{
  width: 48.8%;
  min-height: 229px;
  border-radius: 15px;
  padding: 15px 20px 20px 18px;
  position:relative;
  margin:0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* background-color: palegreen; */
}

.offer-item-2{
  width: 48.9%;
  padding: 15px 20px 20px 19px;
}



.banner-item-header {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin:0;
  padding:0;
  margin-bottom:16px;
  /* padding:5px; */
  /* background-color: palevioletred; */
}

.banner-item-header-2 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin:0;
  padding:0;
  margin-bottom:15px;
  /* padding:5px; */
  /* background-color: palevioletred; */
}

.banner-item p {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin:0;
  padding-left: 1px;
  /* padding:5px; */
  /* background-color: greenyellow; */
}

.offer-item-2 p {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin:0;
  padding-left: 1px;
  /* padding:5px; */
  /* background-color: greenyellow; */
}

.small-button.banner-button-1 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  /* position:absolute;
  right:23px;
  bottom:23px; */
  display:block;
  align-self: flex-end;
  margin-top:44px;
  margin-right:1px;
  padding-left: 23px;
  padding-right:23px;
  padding-bottom:12px;
  border-radius: 60px;
}



 .small-button.banner-button-2{
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  display:block;
  align-self: flex-end;
  margin-top:45px;
  margin-right:1px;
  padding-top: 9px;
  padding-left: 20px;
  padding-right:22px;
  padding-bottom:12px;
}

.offer-item-1 {
  background-color: #8c0920;
  background-image: url("../img/raspberries-background.jpg");
  /* background-position: top left; */
  background-repeat: no-repeat;
  background-position: -51px -94px;


}

.offer-item-2 {
  background-color: #452819;
  background-image: url("../img/chocolate-background.jpg");
  background-position: -217px -104px;
  background-repeat: no-repeat;
}

/*   Каталог мороженого//Сначала блок из Индекса, потом сама страница каталог  */

/* каталог в индексе */
.catalog-list-hit {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin:0;
  margin-left:-13px;
  margin-right:-13px;
  margin-bottom: 0px;
  list-style: none;
  padding: 0;
}

li.hit{
  position: relative;
 }

 li.hit:before{
  content: "";
  position: absolute;
  Background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left:14px;
  width:61px;
  height:61px;
 }
/* блок каталог + пагинатор(они вместе там лежат*/
.catalog{
  margin:0;
  padding: 0 0px 0 7px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* каталог в каталоге */
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  margin-left:-20px;
  margin-right:-11px;
  margin-bottom: 42px;
  padding: 0;
}
 /* универсальные правила для обеих страниц */
.catalog-item{
  width: 25%;
  position: relative;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
}

.catalog-list li:nth-child(4n){
  margin-right: 0;
}

.catalog-item img{
  width: 100%;
  height:auto;
  padding-left: 13px;
  padding-right:13px;
  border-radius: 50%;
}

.catalog-item-title{
  box-sizing: border-box;
  display: block;
  margin-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  text-align: center;
}

.catalog-item-price {
  position: absolute;
  left:12px;
  bottom:82px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  color: rgb(254, 254, 254);
}
.catalog-item-price svg{
  display: inline-block;
  position: relative;
  bottom:1px;
  vertical-align: middle;
  left: -7px;
}

.weight{
  position: relative;
  right: 17px;
  font-size: 29px;
  line-height: 44px;
}

.item-button-wrapper{
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  z-index: 1;
  left: 0;
  top:-6px;
  width: 100%;
  min-height: calc(100% + 71px);
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  }



.catalog-item:hover .item-button-wrapper{
  visibility: visible;
  /* background-color: rgba(248, 247, 244, 0.2); */
  /* box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); */
}
/*кнопка быстрый простмотр*/


.catalog-button {
  display: block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: rgb(254, 254, 254);

  text-align: center;
  /* vertical-align: middle; */
  border: none;
  background: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  margin-bottom: 22px;
}

/*вафля блок */
.about-us {
  list-style: none;
}

.about-us-container{
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-color: #eddfc2;
  background-image: url("../img/layer-waffle.jpg");
  background-position: top left;
  background-repeat: repeat;

  /* width: 1150px;
  height: 306px; */
  width:100%;
  margin-bottom:40px;
  padding: 20px 22px 15px 20px;
  border-radius: 15px;
  box-sizing: border-box;
}

.about-us-container h2  {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin:0;
  margin-top:3px;
  margin-bottom: 20px;
}
.about-us{
  list-style: none;
  margin:0;
  margin-bottom:-14px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.about-us li {
  position:relative;
  width:48.5%;
  margin-left:5px;
  margin-bottom:23px;
  padding-left:51px;
  box-sizing:border-box;
}

.about-us li:nth-child(2n){
  padding-left:54px;
}

.about-us li:nth-child(1)::before{
  content: url("../img/ceo-icecream.svg");
  width: 49px;
  height:49px;
  float: left;
  position: absolute;
  left:-5px;
  top: -12px;
}

.about-us li:nth-child(2)::before{
  content: url("../img/ceo-cow.svg");
  width: 49px;
  height:49px;
  float: left;
  position: absolute;
  left:-4px;
  top: -12px;
}

.about-us li:nth-child(3)::before{
  content: url("../img/ceo-leaf.svg");
  width: 49px;
  height:49px;
  float: left;
  position: absolute;
  left:-5px;
  top: -12px;
}

.about-us li:nth-child(4)::before{
  content: url("../img/ceo-thermometer.svg");
  width: 49px;
  height:49px;
  float: left;
  position: absolute;
  left:-4px;
  top: -12px;;
}

/*обертка новости и новостная рассылка */
.wrapper-news{
  margin:0;
  margin-bottom:40px;

  display: flex;
  justify-content: space-between;

}
/* Новое в нашем блоге */

.news {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/news-strawberries.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size:cover;

  width: 48.8%;
  min-height: 220px;
  border-radius: 15px;
  padding:0px;

  border-radius: 15px;
}


.news p{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  padding: 15px 5px 1px 20px;
  margin-top:8px;
  margin-left:-1px;
  margin-bottom:0px;

  /* background-color: aqua; */
}
.news span{
  display: block;
  max-width: 350px;
  padding: 2px 5px 10px 19px;
  /* background-color:pink; */

}

a.news-link {
  background-color:rgba(255, 255, 255, 0.8) ;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
}

a.news-link:hover,
a.news-link:active{
  color: rgb(232,77,55);
}


/*новостная рассылка*/

.newsletter {
  width: 48.9%;
  border-radius: 15px;
  padding:5px;
  box-sizing: border-box;
  background-image: url("../img/newsletter-stripped-background.svg");
}

.white-wrapper{
  background-color: #f8f7f4;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  min-height: 210px;
  padding: 30px 21px;
}

.newsletter-text{
  margin: 0 0 35px 0;
  /* margin-top:29px;
  margin-left:22px;
  margin-right: 22px;
  margin-bottom:36px; */
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgb(90, 90, 90);
}

.adress iframe{
  width:auto;
  min-width: 100%;
}
.newslwtter-form{
  display: flex;
  align-items: flex-start;
  width: 100%;
  /* margin-left:22px;
  margin-right:20px; */
}

.newslwtter-form input{
  box-sizing: border-box;
  flex-grow:1;
  /* width: 368px; */
  margin-right:12px;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding-top:9px;
  padding-right:14px;
  padding-bottom:9px;
  padding-left:14px;
  outline: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(153, 153, 153);
  font-weight: 400;
}
.newslwtter-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-weight: 400;
color: rgb(153, 153, 153);
}
.newslwtter-form input::-moz-placeholder { /* Firefox 19+ */
font-weight: 400;
color: rgb(153, 153, 153);
}
.newslwtter-form input:-ms-input-placeholder { /* IE 10+ */
font-weight: 400;
color: rgb(153, 153, 153);
}
.newslwtter-form input:-moz-placeholder { /* Firefox 18- */
font-weight: 400;
color: rgb(153, 153, 153);
}
.newslwtter-form input::placeholder {
font-weight: 400;
color: rgb(153, 153, 153);
}
.newslwtter-form input:hover{
  border: 3px solid rgb(199, 198, 197);
  padding: 7px 12px;
  border-radius: 5px;
  color: rgb(50, 50, 50);
}
.newslwtter-form input:focus{
  border: 3px solid rgb(143, 189, 236);
  padding: 7px 12px;
  border-radius: 5px;
  color: rgb(50, 50, 50);
  font-weight: bold;
}

button.small-button.newsletter-button{
  margin-top: -1px;
  padding-left:18px;
  padding-right:19px;
  padding-top:10px;
  padding-bottom: 12px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
/*адрес магазина*/

.adress{
  /* width: 1200px; */
  height: 429px;
  position: relative;
  background-image: url("../img/map.jpg");
  margin: 0 -27px;
  background-position: top center;
  /* margin-right:-1153px; */
}

.adress-part {
  position: absolute;
  top: 64px;
  right:27px;
  border-radius: 15px;
  width: 302px;
  height: 305px;
  padding: 27px 20px 30px 20px;
  font-family: 'Roboto', Arial, sans-serif;
  color: #323232;
  background-color: #fdfefe;
}


.small-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  /* background-color: royalblue; */
}

.bold-text{
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  /* background-color: royalblue; */
}
.adress-part p:first-child{
  margin: 0px 0px 0px 5px;
}

.adress-part p:nth-child(2){
  margin: 2px 0px 17px 5px;
}

.adress-part p:nth-child(3){
  margin: 0px 0px 5px 5px;
}
.adress-part p:nth-child(4){
  margin: 0px 0px 0px 5px;
}

.adress-part p:nth-child(5){
  margin: 0px 0px 36px 5px;;
}

.feedback-link a{
  text-decoration: none;
}

a.small-button.adress-button{
  margin-left:5px;
  /* margin-right:25px;
  margin-bottom:30px; */
  padding: 10px 28px 12px 28px;
}

/*футер*/

 .main-footer{
  min-width: 900px;
  max-width: 1200px;
  max-height: 600px;
  margin:0 auto;
  padding: 0 0px;
  display: flex;
  justify-content: space-between;
  /* background-color: palevioletred; */
}


/*соц сети*/
.footer-social ul{
 max-width:33%;
 list-style:none;
 display: flex;
 margin:0;
 margin-top: 36px;
 margin-left:28px;
 margin-bottom:30px;
 padding: 0;
 /* background-color: royalblue; */
}

.social-button{
  display: inline-block;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  border-radius: 22px;

  border: 3px solid rgba(255, 255, 255, 0.502);/*эта обводка не полупрозрачная, как сделать прозрачность как в макете*/

  vertical-align: middle;
  margin-right:11px;
  text-indent: -1000px;
  font-size: 0px;
  /*background-color:#e6ebe9;*/
}

.social-button:hover,
.social-button:active{
  border: 3px solid rgba(255, 255, 255, 0.702);
}



.twitter{
  background-image: url("../img/twitter.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: padding-box;

}

.instagram{
  background-image: url("../img/instagram.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: padding-box;
}

.facebook{
  background-image: url("../img/fb.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: padding-box;
}

.vkontakte{
  background-image: url("../img/vk.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: padding-box;
}

/*блок в футере посередине*/

.navigation-to-custumers {
  /* max-width:33%; */
  min-height:50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:0;
  margin-top: 34px;
  padding: 0;
  margin-left:-30px;
  list-style:none;
}

.left-column{
  margin:0;
  padding: 0;

  margin-right:30px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.right-column{
  margin:0;
  padding: 0px 0 0 1px;


}
.info-to-custumers-item{
  list-style-type: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(254, 254, 254);
  display: block;
  text-decoration: none;
  padding: 0;

  padding-bottom: 4px;

}
.like {
  font-weight: bold;
  position: relative;

}

.like::before {
  content: url("../img/heart-symbolle.svg");
  float: left;
  position: absolute;
  left:-22px;
  top: 3px;
}

/*Сделано в HTML Academy © 2017*/

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width:33%;

  margin-top: 19px;
  margin-right:25px;

  padding-left:31px;
  padding:0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(254, 254, 254);
}
.html-academy-link{
  color: rgb(254, 254, 254);
  padding-right: 5px;
  text-decoration: none;
}

.footer-copyright img{
  margin-bottom: 4px;
  margin-left:2px;
}



/*оформление кнопок*/
.small-button {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 10px 20px;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.small-button:hover,
.small-button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.small-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


/* оформление обратная связь и форм*/

.modal-overlay{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 120%;
  height: 120%;
  background-color: rgba(0,0,0, 0.3);

  z-index: 26;
}

.form-modal{
  display: flex;
  flex-direction: column;
}

.modal-feedback {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 478px;
  padding-top:16px;
  padding-bottom:27px;
  padding-left:25px;
  padding-right: 25px;
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: rgb(50, 50, 50);

}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 17px;
  border: 0;
  font-size: 0;
  background-image: url("../img/close-icon.svg");
  background-color: rgb(248, 247, 244);
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-feedback p{
  margin:0 0 18px 0;

}
.modal-form fieldset{
  margin:0;
  border:none;
  padding:0;
}
.modal-form input[type="email"],
.modal-form input[type="text"] {

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  /* color: rgb(153, 153, 153); */
  color: rgb(50, 50, 50);

  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  width: 267px;
  margin-bottom: 20px;
  padding: 9px 14px;
}

.modal-form textarea {
  resize: none;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  /* color: rgb(153, 153, 153); */
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  width: 428px;
  min-height: 155px;
  margin-bottom: 25px;
  padding: 9px 14px;
}

button.small-button.modal-form-button{
 align-self: flex-end;
 padding: 10px 23px 10px 23px;
}


.modal-form input:hover{
  border: 3px solid rgb(199, 198, 197);

  border-radius: 5px;
  padding: 7px 12px;
  color: rgb(50, 50, 50);
}
.modal-form input:focus{
  border: 3px solid rgb(143, 189, 236);

  padding: 7px 12px;
  border-radius: 5px;
  color: rgb(50, 50, 50);
  font-weight: bold;
  outline: none;
}

.modal-form textarea:hover{
  border: 3px solid rgb(199, 198, 197);

  padding: 7px 12px;
  border-radius: 5px;
  color: rgb(50, 50, 50);
}
.modal-form textarea:focus{
  border: 3px solid rgb(143, 189, 236);

  padding: 7px 12px;
  border-radius: 5px;
  color: rgb(50, 50, 50);
  font-weight: bold;
  outline: none;
}




.modal-form input::-webkit-input-placeholder,
.modal-form textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-weight: 400;
}
.modal-form input::-moz-placeholder,
.modal-form textarea::-moz-placeholder { /* Firefox 19+ */
font-weight: 400;
}
.modal-form input:-ms-input-placeholder,
.modal-form textarea:-ms-input-placeholder { /* IE 10+ */
font-weight: 400;
}
.modal-form input:-moz-placeholder,
.modal-form textarea:-moz-placeholder { /* Firefox 18- */
font-weight: 400;
}
.modal-form input::placeholder,
.modal-form textarea::placeholder {
font-weight: 400;
}



/* .modal-feedback input,
.newsletter input,
.tooltip-login input {
  font: inherit;

  background-color: transparent;
  border: 1px solid rgb(211, 211, 210);
} */
/*

.modal-feedback input:focus {
  border-color: rgb(46, 136, 228);
} */

/*подписка на новостную рассылку*/



/* .site-navigation-current {
  background-color: rgb(248, 247, 244);
  border: none;
  border-radius: 30px;
} */


/*каталог */
.wrapper{
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #849d8f;
}

a.current-page {
  background-color: rgb(208, 112, 88);
  border-bottom: none;
  color: white;
}

.main-content{
  display: flex;
  flex-direction: column;


}


/*основной контент каталога*/
.body-catalog{
  background-color: #849d8f;
}
/* }
.site-wrapper-catalog{
  min-width: 900px;
  max-width: 1200px;
   margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #849d8f;


} */

.site-wrapper-catalog{
  margin: 0 auto;
  background-color: #849d8f;
  /* align-items: center; */
}

.container-catalog{
 padding: 0 0;

}
/*хлебные крошки*/

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin:0;
  margin-top:-22px;
  margin-bottom: 0px;
  padding:0;
  list-style: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(254, 254, 254);
  }

  .breadcrumbs li {
  position: relative;


  /* background-color: yellowgreen; */

  margin:0;
  margin-right: 20px;
  padding:0;
}

.breadcrumbs a{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(254, 254, 254);
  text-decoration: none;
  /* display: inline-block;
  padding: 6px 4px 6px 4px;
  /*margin-right:5px;
  background-color:red; */
}

.breadcrumbs li:nth-child(1) a::after,
.breadcrumbs li:nth-child(2) a::after{
  content: "»";

  position: absolute;

  right: -14px;
}

.breadcrumbs-2{
  padding-left: 1px;
}
.page-title{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin: 5px 0 25px 0;

}
/*фильтры Сортировка*/


.sorting-wrapper{
  max-width: 860px;
  min-height: 150px;
  margin:0;
  margin-bottom: 23px;
  padding: 0;
}

.sorting-wrapper form{
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-start;
align-items: flex-start;
}

fieldset.filters
{
  padding: 0px 0px 0px 0;
  border: none;
  margin:0 16px 0 0;
}


.filters legend {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 0px 0 6px 16px;
  margin:0;
}

label.custom-select {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.custom-select select {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.000001);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

/* for Webkit's CSS-only solution */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .custom-select select {
  padding-right:30px;
  }
}


.custom-select:after {
  content: "▼";
  position: absolute;
  top: 4px;
  right: 5px;
  /* bottom: 0; */
  font-size: 105%;
  line-height: 30px;
  padding: 0 7px;
  background: transparent;
  color: white;
  pointer-events:none;
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
}

.no-pointer-events .custom-select:after {
  content: none;
}


.filters select{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 7px 28px 7px 10px;
  /* margin:0; */
}

.filters select option{
  color: rgb(50, 50, 50);
  margin:0;
}


.wrapper-sorting{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3px 15px;
  border-radius: 20px;
}



.button-sort:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
}
.button-sort:active {
  border: none;

  background-color: rgb(237, 237, 237);
  box-shadow: inset 0 2px 2px rgba(106, 107, 108, 1);
}


.fatness label:hover::before,
.filler label:hover::before {
  opacity: 1;

}
.fatness input:disabled + label::before,
.filler input:disabled + label::before {
  opacity: 0.4;
}
/*сортировка по цене*/

/* fieldset.price-sort
{
  padding: 0px 0 0px 0;
  border: none;
  margin:0 16px 0 0;
} */

.price-sort{
margin: 0 16px 0 0;
}
.price-value{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 0 0 6px 14px;
}

.range-button-wrapper{
  display: flex;
  justify-content: space-between;
  width: 218px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 8px 66px 7px 34px;
}
.range-button{
  cursor: pointer;
  width: 20px;
  height:22px;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  position: relative;
}



.first-range::before{
  position: absolute;
  content: "";
  display:block;
  width:13px;
  height:2px;
  border:2px solid rgba(248, 247, 244, 0.5);
  top:8px;
  right:20px;
}

.first-range::after{
  position: absolute;
  content: "";
  display:block;
  width:80px;
  height:2px;
  border:2px solid rgb(248, 247, 244);
  top:8px;
  left:20px;
}

.second-range::after{
  position: absolute;
  content: "";
  display:block;
  width:46px;
  height:2px;
  border:2px solid rgba(248, 247, 244, 0.5);
  top:8px;
  left:20px;
}


/*соортировка по жирности*/
fieldset.sorting-fat
{
  padding: 0px 0 0px 0;
  border: none;
  margin:0;
}
.sorting-fat legend {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 0px 0 6px 15px;
  margin:0;
}
.fatness,
.filler {
  display: inline-flex;
  flex-wrap: nowrap;
}

.fatness {
  flex-shrink: 1;
}

.fatness input{
  display: none;
}

.fatness label{
  display: block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  position: relative;
  padding-left:30px;
  padding-top:6px;
  padding-bottom:6px;
  padding-right: 20px;
}

.fatness label:first-of-type{
  padding: 8px 20px 6px 30px;
}
.fatness :last-child{
  padding: 6px 0px 6px 28px;
}
.fatness label::before{
  content: "";
  position: absolute;
  top:5px;
  left: -2px;
  display: block;
  width: 22px;
  height:22px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.fatness input:checked + label::before {

  background-image: url("../img/radio-on.svg");
}

/*наполнители*/
.sorting-fill legend {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 0px 0 6px 15px;
  margin:0;
}

fieldset.sorting-fill
{
  margin: 15px 14px 0 0;
  padding: 0px 0 0px 0;
  border: none;
}

.filler input{
  display: none;
}

.filler label{
  display: block;
  position: relative;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  position: relative;
  padding-left:30px;
  padding-top:6px;
  padding-bottom:6px;
  padding-right: 20px;
}
.filler label:first-of-type{/*шоколад*/
  padding: 6px 19px 6px 32px;
}
.filler label:nth-of-type(2){ /*сахар*/
  padding: 6px 19px 6px 34px;
}
.filler label:nth-of-type(3){/*фрукты*/
  padding: 6px 22px 6px 34px;
}
.filler label:nth-of-type(4){/*сироп*/
  padding: 6px 19px 6px 34px;
}
.filler label:last-child{/*джем*/
  padding: 6px 2px 6px 34px;
}

.filler label::before{
  content: "";
  position: absolute;
  top:6px;
  left: 1px;
  display: block;
  width: 20px;
  height:20px;
  background-image: url("../img/checkbox-off.svg");/*   */
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.filler input:checked + label::before {

  background-image: url("../img/checkbox-on.svg");
  width: 24px;
  height:20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-sort{
  border: 2px solid  rgb(252, 252, 252);
  background-color: rgb(170, 188, 178);
  border-radius: 20px;
  padding: 6px 27px 7px 27px;
  margin-top: 37px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

/*пагинатор*/

.pagination-list {
  list-style: none;
  padding: 0px;
  margin:0;
  margin-bottom: 27px;
  margin-right: -3px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;

}

.pagination-item  {
  margin:0 3px 0 0;
  padding:0;
  border-radius:24px;
}

.pagination-item:last-child a{
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 4px 9px 4px 9px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

.pagination-item-back a svg{
  margin: -1px 4px 0 0;
}
.pagination-item:nth-child(2) a{
  margin: -1px -2px 0 0
}
.pagination-item:nth-child(3) a{
  margin: -1px -1px 0 0;
}
.pagination-item:nth-child(4) a{
  margin: -1px -1px 0 0;
}
.pagination-item:nth-child(5) a{
  margin: -1px 0px 0 0;
}
.pagination-item:nth-child(6) a{
  margin: -1px 2px 0 0;
}
.pagination-item-next a svg{
  margin: 0 -8px 0 0;
}
/*не раскодировать, тк они прописаны в html файле*/
/* .pagination-item-back a {
  display: block;
  background-image: url("../img/icon-right-small.svg");
  transform: rotate(180deg);
  background-position: center bottom;
  background-repeat:no-repeat;
  padding: 5px 15px;
}

 .pagination-item-next a {
  background-image: url("../img/icon-right-small.svg");
  background-position: 6px 8px;
  background-position: center bottom;
  background-repeat:no-repeat;
} */
.pagination-item:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item:active,
.pagination-item-current{
  background-color: rgba(255, 255, 255);
}

.pagination-item-current a,
.pagination-item a:active{
  color: rgb(50, 50, 50);
}

/* @-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
} */
/* @keyframes zoom {
  0% {
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

@-webkit-keyframes zoom {
  0% {
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
} */


@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


.modal-show {
  display: block;

}

.modal-error {
  animation: shake 0.6s;
  }









